<h1> Articles </h1>
    <table>
    <tr>
        <th>Name</th>
        <th>Actions</th>
    </tr>
        <% @articles.each do |article| %>
        <% unless article.archived? %>
            <tr>
                <td>
                    <%= link_to article.title, article %>
                </td>
                <td>
                    <%= link_to 'Destroy', article_path(article), data: {turbo_method: :delete} %>
                </td>
                <td>
                    <%= link_to 'Edit', edit_article_path(article) %>
                </td>
            </tr>
        <% end %>
        <% end %>
    </table>
<br/>
<%= link_to 'New Article', new_article_path %>
